@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
body,html{
    color: black;
}

nav{
    font-family: 'Oswald', sans-serif;
    color: black;
}



.navbar-default{
background-color: white;
}


.navbar-nav{
    transform: translateX(-50%);
    left: 50%;
    position: relative;
    font-size: 120%;
}

.navbar-default .navbar-nav > li > a {
    color: black;
}

nav ul li{
    color: black;
}




hr.style17 {
    border-top: 1px solid black;
    text-align: center;
}
hr.style17:after {
    content: 'Proslav';
    display: inline-block;
    position: relative;
    top: -23px;
    padding: 0 10px;
    background: white;
    color: black;
    font-size: 250%;
}

nav p{
    display: none;
}



.parallaxoferta {
    /* The image used */
    background-image: url("../jpg/stronka/oferta.jpg");

    /* Set a specific height */
    height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxklienci {
    /* The image used */
    background-image: url("../jpg/stronka/klienci.jpg");

    /* Set a specific height */
    height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxkontakt {
    /* The image used */
    background-image: url("../jpg/stronka/kontakt.jpg");

    /* Set a specific height */
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallaxonas {
    /* The image used */
    background-image: url("../jpg/stronka/siema.jpg");

    /* Set a specific height */
    height: 25vw;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron{
    background-color: white;
}

.square{
    position: relative;
    top: 70%;
    transform: translateY(-70%);
    width: 70%;
    height: 15.5vw;
    /*background-color: rgba(0,0,0,0.2);*/
}

.circle {
    margin: auto;
    position: inherit;
    border-radius: 50%;
    width: 73%;
    height: auto;
    padding-top: 73%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid black;
    color: black;
}


.circle p.number
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
}

.circle p.up
{
    width: 100%;
    position:absolute;
    text-align: center;
    font-size: 1.4vw;
    top:15%;
}

.circle p.down
{
    width: 100%;
    position:absolute;
    text-align: center;
    font-size: 1.4vw;
    bottom:15%;
}


@media (max-width: 768px)
{
    .navbar-nav{
        transform: translateX(0);
        position: static;
        left:5%;
    }

    hr.style17{
        visibility: hidden;
        clear: both;
        float: left;
        display: none;
    }

    nav p{
        display: inline;
        text-align: center;
    }

    nav p:after{
        content: 'Proslav';
        position: relative;
        padding: 0 10px;
        color: black;
        font-size: 250%;
    }


}


/*@media (max-width:480px) {*/
    /*.parallaxonas {*/
        /*max-height: 110px;*/
    /*}*/
/*}*/

    /*@media (min-width:480px) and (max-width: 768px){*/
        /*.parallaxonas{*/
            /*max-height:180px;*/
        /*}*/



    /*}*/

    /*@media (min-width:768px) and (max-width: 980px){*/
        /*.parallaxonas{*/
            /*max-height:260px;*/

    /*}*/

    /*@media (min-width:980px) and (max-width: 1200px){*/
        /*.parallaxonas{*/
            /*max-height:340px;*/
        /*}*/

    /*}*/

    /*@media (min-width:1200px){*/
        /*.parallaxonas{*/
            /*max-height:400px;*/
        /*}*/
    /*}*/

#przyPracy{
    max-height: 30em;
    min-width:100%;
}

.parallaxoferta .page-header{
    color: white;
    border-bottom: none;
    text-shadow: 1px 1px #0f0f0f;
}

.parallaxklienci .page-header{
    color: white;
    border-bottom: none;
    text-shadow: 1px 1px #0f0f0f;
}

.canvas{
    width: 70%;
    height: 70%;
}

.slider{
    width: 50%;
    height: 50%;
    margin-bottom: 5%;
}





form {
    margin-left:auto;
    margin-right:auto;
    width: 60%;
    height: 50%;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0);
    transform: translateY(50%);
}

textarea{
    background: rgba(255, 255, 255, 0.2);
    width: 100%;
    height: 70%;
    border: 1px solid rgba(255,255,255,.6);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:18px;
    color:black;
    padding-left:3%;
    padding-right:20px;
    padding-top:12px;
    margin-bottom:20px;
    overflow:hidden;
}

input {
    width: 100%;
    height: 18%;
    margin-bottom: 3%;
    border: 1px solid rgba(255,255,255,.4);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    display:block;
    font-family: 'Source Sans Pro', sans-serif;
    color:black;

}



input[type=submit] {
    cursor:pointer;

}

input.name {
    background: rgba(255, 255, 255, 0.4);
    padding-left:3%;
}

input.email {
    background: rgba(255, 255, 255, 0.4);
    padding-left:3%;
}

input.message {
    background: rgba(255, 255, 255, 0.4);
    padding-left:3%;
}

::-webkit-input-placeholder {
    color: black;
}

:-moz-placeholder{
    color: black;
}

::-moz-placeholder {
    color: black;
}

:-ms-input-placeholder {
    color: black;
}

input:focus, textarea:focus {
    overflow: hidden;
}

.btn {
    color: black;
    width: 50%;
    height: 15%;
    text-align: center;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    float:left;
    background: rgba(255,255,255,0.4);
}

.btn:hover {
    text-shadow: #333333 0 1px 0;
    background: rgba(255,255,255,0.4);
    color: black;
}


